div.category > ul > li a {
    color: #212529;
    text-decoration: none;
}

img{
    object-fit: cover;
}

.new-comment, .comment a{
    color: #212529;
    text-decoration: none;
}

footer{
    text-align: center;
}